
<% lots_of_products = Product.includes(:user).all %><br>
<%= link_to "Create new product", 'products/new' %>

<p> Find a product by name: <p>
<form method='get' action='/products' >
  <input name="product[name]" size="30" type="text" ><br>
  <input type="submit" value="Find" >
</form>
<p> The above form doesn't work yet </p> <br>
<p> All the products: </p>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% lots_of_products.each do |prod| %>
  <tr>
    <td><%= prod.name %></td>
    <td><%= prod.price %></td>
    
  </tr>
<% end %>
</table>

<% first_product = Product.first %>

<p> 
  The first product on the list is <%= first_product.name %> and it is priced at <%= first_product.price %> dollars 
</p>


<p> 
  Owner of the first product is <%= first_product.user.name %>
</p>

<p> 
  Cheap product is
  <% cheap = Product.where('price < 5').first %>
  <%= cheap.name %> which costs <%= cheap.price %> dolla
</p>





<p>
  Find me in <%= Rails.root.join("app", "views", "products", __FILE__ ) %>
</p>

<p> Oh hey want to know how many products there are? COUNT THEM. <br>
    Just kidding. There are 
    <% pcount = Product.count %>
    <%= pcount %>
</p>
